/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css2?family=Poppins';

* {
    box-sizing: border-box;
}

.app {
    background-image: linear-gradient(to bottom, #08070A, #271E4E);
}

body, h1, h2, a, p, span, button, label {
    font-family: Poppins;
    color: white;
}

.layout {
    width: 100%;
    height: 100vh;
    overflow: auto;
}